@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
// Font family import
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
// Suneditor css import 
@import url('../node_modules/suneditor/dist/css/suneditor.min.css');

// font-family: 'Itim',cursive;
// font-family: 'Noto Sans KR',sans-serif;

$color-bg1 : #2e1114;
$color-bg2 : #501b1d;
$color-nt: #64485c;
$color-fg1: #83677b;
$color-fg2: #adadad;
// $color-light : #efefef;
$color-light: whitesmoke;
$text-dark: #000;
$text-light: #fff;

@function text-color($color) {
  @if (lightness($color) > 50) {
    @return $text-dark;
  }

  @else {
    @return $text-light;
  }
}

// @function btn-color($color) {
//   @if (lightness($color) > 50) {
//     @return darken($color, 10%);
//   }

//   @else {
//     @return lighten($color, 10%);
//   }
// }

.headerCustom {
  height: 36px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 0;
  margin: 0;
  line-height: 1;
}

.contentCustom {
  height: calc(100% - 36px);
  overflow-y: auto;
  padding: 8px 16px;
  overflow-x: hidden;
}

body {
  // background-color: text-color();
  font-family: 'Itim', cursive;
  letter-spacing: 1px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.b-none {
  border: none !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.c-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bg-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  filter: blur(2px);
}

.closeModal {
  background: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  padding: 10px 0;
  line-height: 1;
  margin-left: auto;
  display: block;
  color: inherit;
  cursor: pointer;
}

.appContent {
  max-height: 100vh;
  height: 100vh;
}

.contentHeader {
  height: 52px;
}

.contentBody {
  height: calc(100% - 52px);
  max-height: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
}

.navbar {
  background-color: $color-bg1 !important;
  z-index: 999;
  height: 100%;
  padding: 0;
  // box-shadow: 1px 1px 5px 5px rgba($color: $color-light, $alpha: .10);

  .brandName {
    background-color: $color-fg2 !important;
    color: text-color($color-fg2);
    text-transform: capitalize;
    font-size: 16px;
    padding: 4px 8px;
    font-weight: 900;
    // font-family: 'Noto Sans KR';
    letter-spacing: 2px;
    text-decoration: none;
  }

  .navbarMenuIcon {
    color: text-color($color-bg1);
    font-size: 24px;
    cursor: pointer;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 0 16px;
    bottom: 0;
    visibility: hidden;
    background-color: $color-bg1;
    color: text-color($color-bg1);
    transition: opacity .3s ease-in, visibility .3s ease-in;
    backdrop-filter: blur(5px);

    .nav-item {
      font-size: 18px;
      padding: 12px;
      padding-bottom: 6px;
      color: inherit;
      text-align: center;
      border-bottom: 2px solid transparent;
      transition: border .3s ease-in;
      text-transform: uppercase;

      &:hover {
        border-bottom: 2px solid text-color($color-bg1);
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    ul.navbar-nav {
      display: flex;
      justify-self: center;
      align-items: center;
      align-self: center;
      justify-content: center;
      height: 100%;
      flex-grow: 1;
      min-width: 350px;
    }

    &.show {
      visibility: visible;
      opacity: .98;
      backdrop-filter: blur(5px);
    }
  }

  .navbar-toggler {
    box-shadow: none;
    color: whitesmoke;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}

// Login Component
.login-container {
  background: $color-bg2;
  color: text-color($color-bg2);
  max-width: 480px;
  width: 100%;
  border-radius: 5px;
  padding: 30px 20px;
  margin: 12px;
}

.containerHome {
  margin: auto;
  max-width: 600px;
}

.form-control {
  border-radius: 3px;
  outline: none !important;
  border-color: lighten($color-bg1, 20%);
  background-color: text-color($color-bg1);

  &::placeholder {
    color: lighten($color-bg1, 20%);
  }

  &:focus {
    box-shadow: none;
  }
}

.btn {
  outline: none !important;
  border: none !important;
  border-radius: 3px;
  box-shadow: none !important;
  font-size: inherit;
  letter-spacing: inherit;
  pointer-events: initial;

  &:focus {
    box-shadow: none;
    // outline: ;
  }

  &:active,
  &:hover {
    opacity: .8;
    outline: none;
    border: none;
    box-shadow: none;
  }

  &:disabled {
    pointer-events: visible;
    cursor: not-allowed;
    opacity: 1;
  }
}

.btn-primary {
  color: text-color($color-bg1);
  background-color: $color-bg1;

  &:disabled,
  &:active,
  &:focus,
  &:hover {
    background-color: $color-bg1;
    color: text-color($color-bg1);
  }

  &.l-10 {
    background-color: lighten($color-bg1, 10%);

    &:hover {
      background-color: lighten($color-bg1, 10%);
    }
  }
}

.btn-secondary {
  color: text-color($color-nt);
  background-color: $color-nt;

  &:disabled,
  &:focus,
  &:active,
  &:hover {
    color: text-color($color-nt);
    background-color: $color-nt;
  }

  &.l-10 {
    background-color: lighten($color-nt, 10%);

    &:hover {
      background-color: lighten($color-nt, 10%);
    }
  }
}

.btn-ternary {
  color: text-color($color-fg2);
  background-color: $color-fg2;

  &:disabled,
  &:focus,
  &:active,
  &:hover {
    color: text-color($color-fg2);
    background-color: $color-fg2;
  }

  &.l-10 {
    background-color: lighten($color-fg2, 10%);

    &:hover {
      background-color: lighten($color-fg2, 10%);
    }
  }
}

// taskboard css
.taskboard {
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;

  .editorContainer,
  .taskListContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50%;

    @media screen and (min-width: 576px) {
      height: 100% !important;
    }
  }

  .heightFixTaskList,
  .sun-editor {
    height: calc(100% - 36px) !important;
    overflow-y: auto;

    .se-wrapper {
      height: 100%;
    }
  }
}

.list-group {
  border-radius: 0;
}

.overflowY {
  overflow-y: auto;
}

.card {
  border-radius: 0;
  background-color: $color-light;
  color: text-color($color-light);
  border-color: text-color($color-light);
  position: relative;

  .headerFixCard {
    padding-top: 36px;

    .fixHeaderTop {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;
    }
  }

  .card-header {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 4px 16px;
    text-align: right;
    border-color: text-color($color-light);

    svg {
      font-size: 16px;
      margin: 0 0 0 8px;
    }
  }

  .card-body {
    padding: 8px 16px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    .card-text {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 8px;
    }

    .card-body-info {
      // font-size: 16px;
      // line-height: 1.2;

      span {
        display: block;
      }
    }
  }
}

.modal {
  .modal-dialog {
    top: 50%;
    transform: translateY(-50%) !important;
  }

  .modal-content {
    background-color: $color-light;
    border-radius: 0;
    border: none;

    .modal-header {
      @extend .headerCustom;
      background-color: $color-bg2;
      color: text-color($color-bg2);
    }

    .modal-body {
      padding: 8px 16px;
    }

    .modal-footer {
      padding: 8px 16px;
    }
  }
}

.toDos {
  padding: 0;
  margin: 0;
  max-height: 100%;
  height: 100%;
  align-content: flex-start;

  .header {
    @extend .headerCustom;
    background-color: $color-light;
    color: text-color($color-light);
    text-align: end;
    padding: 0;
  }

  .content {
    @extend .contentCustom;
    padding: 0;
    height: calc(33.333% - 12px);

    @media screen and (min-width: 768px) {
      height: calc(100% - 36px);
    }
  }

}

.gridDashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 16px 0;

  .gridItem {
    padding: 16px;
  }

  .item1 {
    // grid-column: auto/ auto;
    // grid-row: auto/ auto;
  }

  .item2 {
    grid-column: span 2;
    justify-self: stretch;
    align-self: stretch;
  }

  .item3 {
    grid-row: span 2;
    justify-self: stretch;
    align-self: stretch;
  }

  .item4 {
    grid-row: span 2;
  }

  .item5 {
    // grid-column: 1/ span 1;
    // grid-row: 2/ span 2;
  }

  .item8 {
    grid-column: span 2;
    // grid-column: 3/ span 2;
    // grid-row: 3/ span 1;
  }

}

.bg-primary {
  background-color: $color-bg1 !important;
  color: text-color($color-bg1) !important;
  border-color: text-color($color-bg1) !important;
}

.bg-primary2 {
  background-color: $color-bg2 !important;
  color: text-color($color-bg2) !important;
  border-color: text-color($color-bg2) !important;
}

.bg-secondary {
  background-color: $color-nt !important;
  color: text-color($color-nt) !important;
  border-color: text-color($color-nt) !important;
}

.bg-ternary {
  background-color: $color-fg2 !important;
  color: text-color($color-fg2) !important;
  border-color: text-color($color-fg2) !important;
}

.bg-ternary2 {
  background-color: $color-fg1 !important;
  color: text-color($color-fg1) !important;
  border-color: text-color($color-fg1) !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end !important;
}